:root {
  --main-text-color: #303030;
  --first-text-color: #ffffff;
  --second-text-color: #555555;
  --thrid-text-color: #9da4bd;
  --accent-color: rgb(255, 106, 0);
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 130px 0 130px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  min-width: 160px;
  padding: 12px 20px;
  background-color: inherit;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  color: var(--first-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--animation-function);
  transition: background-color 250ms var(--animation-function);
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2.1px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close:hover .modal__icon, .modal__close:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms var(--animation-function);
  transition: fill 250ms var(--animation-function);
}

.modal__text {
  color: var(--main-text-color);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.form {
  font-size: 12px;
  line-height: 1.17;
}

.form__field {
  position: relative;
  display: block;
  color: var(--second-text-color);
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.form__wrapper {
  position: relative;
  display: block;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms var(--animation-function);
  transition: border-color 250ms var(--animation-function);
}
.form__input:focus,
.form__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.form__input:focus + .form__icon,
.form__textarea:focus + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms var(--animation-function);
  transition: fill 250ms var(--animation-function);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.aggreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.aggreement__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-right: 8px;
}

.aggreement__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form__btn {
  display: block;
  min-width: 120px;
  padding: 12px 20px;
  margin: 0 auto;
  background-color: inherit;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--animation-function), color 250ms var(--animation-function);
  transition: background-color 250ms var(--animation-function), color 250ms var(--animation-function);
}
.form__btn:hover, .form__btn:focus {
  color: var(--first-text-color);
  background-color: var(--accent-color);
}

.page-header {
  position: absolute;
  padding-top: 32px;
  width: 100%;
  top: 0;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  margin-right: 70px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.nav-list__link::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent-color);
  /* transform-origin: center right; */
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms var(--animation-function);
  transition: -webkit-transform 250ms var(--animation-function);
  transition: transform 250ms var(--animation-function);
  transition: transform 250ms var(--animation-function), -webkit-transform 250ms var(--animation-function);
}
.nav-list__link:hover::after, .nav-list__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.page-header__contacts {
  margin-left: auto;
}

.contacts__link {
  margin-right: 40px;
}

.nav-list__link,
.contacts__link {
  color: var(--first-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.2px;
  -webkit-transition: color 250ms var(--animation-function);
  transition: color 250ms var(--animation-function);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__container--left {
  width: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}

.hero-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg) translate(-19px);
          transform: rotate(-90deg) translate(-19px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.hero-social__list::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: var(--main-text-color);
}

.hero-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.hero-social__link {
  color: var(--main-text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 2.2px;
  -webkit-transition: color 250ms var(--animation-function);
  transition: color 250ms var(--animation-function);
}
.hero-social__link:hover, .hero-social__link:focus {
  color: var(--accent-color);
}

.hero__container--right {
  background-color: rgba(25, 28, 38, 0.2);
  background-image: url(../images/bg/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 272px 0 200px 99px;
}

.hero-content__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(157, 164, 189, 0.6);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.hero-content__subtitle::before {
  content: "";
  background-color: rgba(157, 164, 189, 0.6);
  width: 63px;
  height: 1px;
  margin-right: 20px;
}

.hero-content__title {
  margin: 20px 0;
  color: var(--first-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 3.6px;
}

.hero-content__text {
  width: 400px;
  color: var(--thrid-text-color);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 64px;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about-content__subtitle::before {
  background-color: var(--main-text-color);
}

.about-content__title {
  margin: 18px 0 18px 0;
}

.about-content__label,
.reviews-text {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.about-content__text {
  width: 480px;
  margin: 18px 0 38px 0;
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 0.28px;
}

.about-content__btn {
  color: var(--main-text-color);
  -webkit-transition: color 250ms var(--animation-function), background-color 250ms var(--animation-function);
  transition: color 250ms var(--animation-function), background-color 250ms var(--animation-function);
}
.about-content__btn:hover, .about-content__btn:focus {
  color: var(--first-text-color);
}

.section--img-bg {
  background-color: #111319;
  background-image: url(../images/bg/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.section-subtitle {
  color: rgba(157, 164, 189, 0.6);
}
.section-subtitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.section-title {
  color: var(--first-text-color);
  margin: 20px 0 44px 0;
}

.price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.price__list {
  padding: 30px 40px;
  width: 50%;
}

.price__list--light {
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list--dark {
  background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.price__item::after {
  content: "";
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}
.price__item:not(:last-child) {
  margin-bottom: 20px;
}

.price__text {
  color: var(--thrid-text-color);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.price__count {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.price__btn {
  display: block;
  margin: 0 auto;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 370px;
  margin-right: 130px;
}

.reason__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px;
  background-color: #f7f7f7;
}
.reason__item:nth-child(2n) {
  margin-top: 30px;
}
.reason__item:nth-child(2n+1) {
  margin-bottom: 30px;
  margin-right: 30px;
}

.reason__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 2.1px;
}
.reason__count::after {
  content: "+";
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 2.1px;
  margin-top: 5px;
}

.reason__text {
  width: 130px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-align: center;
}

.reason-content {
  width: 500px;
}

.reason-content__subtitle::before {
  background-color: var(--main-text-color);
}

.reason-content__title {
  margin: 20px 0;
}

.reason-content__text {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.section--light-bg {
  background-color: #f7f7f7;
}

.section__subtitle::before {
  background-color: var(--main-text-color);
}

.section__title {
  margin: 20px 0 44px 0;
}

.masters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.masters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.masters__item:not(:last-child) {
  margin-right: 30px;
}
.masters__item:hover .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.masters__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(255, 106, 0, 0.5);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms var(--animation-function);
  transition: -webkit-transform 250ms var(--animation-function);
  transition: transform 250ms var(--animation-function);
  transition: transform 250ms var(--animation-function), -webkit-transform 250ms var(--animation-function);
}

.overlay__text {
  color: var(--first-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.masters__name {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.36px;
}

.masters__proffesion {
  margin: 8px 0 30px 0;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.28px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #303030;
}
.social__link:hover .social-icon, .social__link:focus .social-icon {
  fill: var(--accent-color);
}

.social-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms var(--animation-function);
  transition: fill 250ms var(--animation-function);
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.box--dark-bg {
  background-color: #191c26;
}

.container_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-section {
  width: calc(50% + 15px);
  padding: 130px 49px 130px 0px;
}

.form-section__title {
  color: var(--first-text-color);
}

.online-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 44px 0;
}

.online-form__input, .online-form__text {
  width: 270px;
  padding: 0 0 8px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  color: rgba(157, 164, 189, 0.4);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  -webkit-transition: color 250ms var(--animation-function), border-color 250ms var(--animation-function);
  transition: color 250ms var(--animation-function), border-color 250ms var(--animation-function);
}
.online-form__input:last-child, .online-form__text:last-child {
  width: 260px;
}
.online-form__input:focus::-webkit-input-placeholder, .online-form__text:focus::-webkit-input-placeholder {
  color: var(--first-text-color);
}
.online-form__input:focus::-moz-placeholder, .online-form__text:focus::-moz-placeholder {
  color: var(--first-text-color);
}
.online-form__input:focus:-ms-input-placeholder, .online-form__text:focus:-ms-input-placeholder {
  color: var(--first-text-color);
}
.online-form__input:focus::-ms-input-placeholder, .online-form__text:focus::-ms-input-placeholder {
  color: var(--first-text-color);
}
.online-form__input:focus::placeholder, .online-form__text:focus::placeholder {
  color: var(--first-text-color);
}
.online-form__input:focus, .online-form__text:focus {
  color: var(--first-text-color);
  border-bottom: 1px solid #ffffff;
}

.online-form__text {
  width: 100%;
  margin-bottom: 44px;
  resize: none;
}

.contacts-section {
  width: calc(50% - 15px);
  background-image: url(../images/bg/contacts-bg.png);
  background-size: cover;
  background-position: right;
  padding: 130px 0 130px 100px;
}

.contacts-section__title {
  color: var(--first-text-color);
  margin-bottom: 40px;
}

.contacts-section__address {
  font-style: normal;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-list__link,
.contacts-section__text {
  color: var(--thrid-text-color);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.contacts-list__link {
  margin-left: 16px;
}

.contacts-list__link--underline {
  text-decoration: underline;
}

.contacts-section__subtitle {
  color: var(--first-text-color);
  margin: 70px 0 20px 0;
}
.contacts-section__subtitle::before {
  content: "";
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.4);
}

.page-footer {
  background-color: #f7f7f7;
  padding: 55px;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-footer__copyright {
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-footer::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-text-color);
}

.social-footer__item {
  margin-left: 40px;
}

.social-footer__link {
  color: var(--main-text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
  -webkit-transition: color 250ms var(--animation-function);
  transition: color 250ms var(--animation-function);
}
.social-footer__link:hover, .social-footer__link:focus {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */