:root {
  --main-text-color: #303030;
  --first-text-color: #ffffff;
  --second-text-color: #555555;
  --thrid-text-color: #9da4bd;
  --accent-color: rgb(255, 106, 0);
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}
.btn {
  min-width: 160px;
  padding: 12px 20px;
  background-color: inherit;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  color: var(--first-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms var(--animation-function);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}
.subtitle {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}
.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2.1px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  position: absolute;
  padding-top: 32px;
  width: 100%;
  top: 0;
}
.header-wrapper {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo-link {
  margin-right: 70px;
}
.nav-list {
  display: flex;
}
.nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.menu {
  margin-left: auto;
}
.menu .link {
  margin-right: 40px;
}
.nav-list-item .link,
.menu .link {
  color: var(--first-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.2px;
  transition: color 250ms var(--animation-function);
}
.nav-list-item .link::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent-color);
  /* transform-origin: center right; */
  transform: scaleX(0);
  transition: transform 250ms var(--animation-function);
}
.nav-list-item .link:hover::after,
.nav-list-item .link:focus::after {
  transform: scaleX(1);
}
.nav-list-item .link:hover,
.nav-list-item .link:focus {
  color: var(--accent-color);
}
.hero-wrapper {
  display: flex;
}
.hero-content-left {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}
.hero-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
}
.hero-list::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: var(--main-text-color);
}
.hero-list .link {
  color: var(--main-text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 2.2px;
  transition: color 250ms var(--animation-function);
}

.hero-list .link:hover,
.hero-list .link:focus {
  color: var(--accent-color);
}
.hero-list-item {
  display: flex;
  align-items: center;
}
.hero-list-item {
  margin-left: 40px;
}
.hero-content {
  background-color: rgba(25, 28, 38, 0.2);
  background-image: url(../images/bg/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  padding: 272px 0 200px 99px;
}
.hero-subtitle {
  display: flex;
  align-items: center;
  color: rgba(157, 164, 189, 0.6);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.hero-subtitle::before {
  content: "";
  background-color: rgba(157, 164, 189, 0.6);
  width: 63px;
  height: 1px;
  margin-right: 20px;
}
.hero-title {
  margin: 20px 0;
  color: var(--first-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 3.6px;
}
.hero-text {
  width: 400px;
  color: var(--thrid-text-color);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}
.about-section {
  padding: 160px 0 90px 0;
}
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  margin-right: 64px;
}
.about-list-item:not(:last-child) {
  margin-right: 30px;
}
.about-subtitle::before {
  background-color: var(--main-text-color);
}
.about-title {
  margin: 18px 0 18px 0;
}
.about-text,
.reviews-text {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}
.about-main-text {
  width: 480px;
  margin: 18px 0 38px 0;
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 0.28px;
}
.btn.about-btn {
  color: var(--main-text-color);
  transition: color 250ms var(--animation-function),
    background-color 250ms var(--animation-function);
}
.btn.about-btn:hover,
.btn.about-btn:focus {
  color: var(--first-text-color);
}
.subtitle.price-subtitle {
  color: rgba(157, 164, 189, 0.6);
}
.title.price-title,
.title.form-title,
.title.contacts-title {
  color: var(--first-text-color);
}
.price-section,
.reviews-section,
.masters-section,
.works-section {
  padding: 130px 0;
}
.price-section {
  background-color: #111319;
  background-image: url(../images/bg/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.price-subtitle::before {
  background-color: rgba(157, 164, 189, 0.6);
}
.price-title {
  margin: 20px 0 44px 0;
}
.price-wrapper {
  display: flex;
  margin-bottom: 50px;
}
.price-list {
  padding: 30px 40px;
  width: 50%;
}
.price-list-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-list-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.price-list-item::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}
.price-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-text {
  color: var(--thrid-text-color);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}
.price-text-count {
  order: 1;
}
.price-btn {
  display: block;
  margin: 0 auto;
}
.reviews-container {
  display: flex;
  justify-content: center;
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 130px;
}
.reviews-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  background-color: #f7f7f7;
}
.reviews-list-item:nth-child(2n) {
  margin-top: 30px;
}
.reviews-list-item:nth-child(2n + 1) {
  margin-bottom: 30px;
  margin-right: 30px;
}
.reviews-item-span {
  display: flex;
  margin-bottom: 6px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 2.1px;
}
.reviews-item-span::after {
  content: "+";
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 2.1px;
  margin-top: 5px;
}
.reviews-item-text {
  width: 130px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-align: center;
}
.reviews-box {
  width: 500px;
}
.reviews-subtitle::before,
.masters-subtitle::before,
.works-subtitle::before {
  background-color: var(--main-text-color);
}
.reviews-title {
  margin: 20px 0;
}
.masters-section {
  background-color: #f7f7f7;
}
.masters-title {
  margin: 20px 0 44px 0;
}
.masters-list {
  display: flex;
}
.masters-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.masters-thumb {
  position: relative;
  overflow: hidden;
}
.masters-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(255, 106, 0, 0.5);
  /* overflow-y: scroll; */
  transform: translatey(100%);
  transition: transform 250ms var(--animation-function);
}
.masters-overlay-text {
  color: var(--first-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.36px;
}
.masters-list-item:hover .masters-thumb .masters-overlay {
  transform: translatey(0);
}
.masters-list-item:not(:last-child) {
  margin-right: 30px;
}
.masters-name {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.36px;
}
.masters-proffesion {
  margin: 8px 0 30px 0;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.28px;
}
.masters-social-list {
  display: flex;
  justify-content: center;
}
.masters-social-list-item:not(:last-child) {
  margin-right: 10px;
}
.masters-social-list-item {
  width: 44px;
  height: 44px;
}
.masters-social-list-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #303030;
}
.social-icon {
  fill: currentColor;
  transition: fill 250ms var(--animation-function);
}
.masters-social-list-item .link:hover .social-icon,
.masters-social-list-item .link:focus .social-icon {
  fill: var(--accent-color);
}
.works-list {
  display: flex;
  margin-top: 44px;
}
.work-list-item:not(:last-child) {
  margin-right: 30px;
}
.section-bg {
  background-color: #191c26;
}
.section-wrapper {
  display: flex;
}
.online-form-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 44px 0;
}
.online-input + .online-input {
  width: 260px;
}
.online-input,
.online-text {
  width: 270px;
  padding: 0 0 8px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  color: rgba(157, 164, 189, 0.4);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  transition: color 250ms var(--animation-function),
    border-color 250ms var(--animation-function);
}
.online-input:focus::placeholder,
.online-text:focus::placeholder {
  color: var(--first-text-color);
}
.online-input:focus,
.online-text:focus {
  color: var(--first-text-color);
  border-bottom: 1px solid #ffffff;
}
.online-text {
  width: 100%;
  margin-bottom: 44px;
  resize: none;
}
.form-section {
  width: calc(50% + 15px);
  padding: 130px 49px 130px 0px;
}
.contacts-section {
  width: calc(50% - 15px);
  background-image: url(../images/bg/contacts-bg.png);
  background-size: cover;
  background-position: right;
  padding: 130px 0 130px 100px;
}
.contacts-address {
  font-style: normal;
}
.contacts-title {
  margin-bottom: 40px;
}
.contacts-list-item {
  display: flex;
  align-items: center;
}
.contacts-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-link,
.time-text {
  color: var(--thrid-text-color);
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}
.contacts-link {
  margin-left: 16px;
}
.contacts-link.underline {
  text-decoration: underline;
}
.subtitle-time {
  color: var(--first-text-color);
  margin: 70px 0 20px 0;
}
.subtitle-time::before {
  content: "";
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.4);
}
.footer {
  background-color: #f7f7f7;
  padding: 55px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-copyrigh {
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
}
.footer-list {
  display: flex;
}
.footer-list-item {
  display: flex;
  align-items: center;
}
.footer-list-item:not(:last-child) {
  margin-right: 40px;
}
.footer-list-item.line::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--main-text-color);
}
.footer-list .link {
  color: var(--main-text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
  transition: color 250ms var(--animation-function);
}
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%);
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.close-icon {
  fill: currentColor;
  transition: fill 250ms var(--animation-function);
}
.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--accent-color);
}
.modal-title {
  color: var(--main-text-color);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal-form {
  font-size: 12px;
  line-height: 1.17;
}
.form-field {
  position: relative;
  display: block;
  color: var(--second-text-color);
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.form-input,
.form-textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms var(--animation-function);
}
.form-input:focus,
.form-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}
.form-wrapper {
  position: relative;
  display: block;
}
.form-icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--animation-function);
  transform: translateY(-50%);
}
.form-textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.aggreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.form-btn {
  display: block;
  min-width: 120px;
  padding: 12px 20px;
  margin: 0 auto;
  background-color: inherit;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms var(--animation-function),
    color 250ms var(--animation-function);
}
.form-btn:hover,
.form-btn:focus {
  color: var(--first-text-color);
  background-color: var(--accent-color);
}
.span-aggreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-right: 8px;
}
.form-link {
  color: var(--accent-color);
  text-decoration: underline;
}
.form-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
