.page-header {
  position: absolute;
  padding-top: 32px;
  width: 100%;
  top: 0;
}
.page-header__container {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__logo {
  margin-right: 70px;
}
.nav-list {
  display: flex;
}
.nav-list__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}
.nav-list__link {
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent-color);
    /* transform-origin: center right; */
    transform: scaleX(0);
    transition: transform 250ms var(--animation-function);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.page-header__contacts {
  margin-left: auto;
}
.contacts__link {
  margin-right: 40px;
}
.nav-list__link,
.contacts__link {
  color: var(--first-text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.2px;
  transition: color 250ms var(--animation-function);
}
