:root {
  --main-text-color: #303030;
  --first-text-color: #ffffff;
  --second-text-color: #555555;
  --thrid-text-color: #9da4bd;
  --accent-color: rgb(255, 106, 0);
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
