.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%);
}
.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover .modal__icon,
  &:focus .modal__icon {
    fill: var(--accent-color);
  }
}
.modal__icon {
  fill: currentColor;
  transition: fill 250ms var(--animation-function);
}
.modal__text {
  color: var(--main-text-color);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
